* {
    margin: 0;
    padding: 0
    
}

.dm-sans-myfont {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

html {
    height: 100%
    
}
label{
  color: #170f48 !important;
  font-weight: 500 !important;
}
ol, ul{
  padding-left: 0 !important;
}

p {
    color: grey
    
}

#heading {
    text-transform: none;
    color: #000000;
    font-weight:900;
    font-size: 20px;
    
    
}
.btns-d .action-btnssss{
  margin: 0px !important;
}
.row-form .col-lg-4,.row-form .col-md-6,.row-form .col-sm-12{
  padding: 0px 15px;
}
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
  
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 570px;
    margin: auto;
    padding: 0px 10px 0px 10px;
    position: relative;
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: gray;
    background-color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

#msform .action-button {
    width: 115px;
    background: #170F49;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 50px;
        cursor: pointer;
    padding: 10px 5px;
    /* margin: 10px auto; */
    display: block;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color:#170F49;
}

#msform .action-button-previous {
    width: 115px;
    background: #170F49;
     font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 15px 0px 10px 15px;
}



#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #170F49;
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 21px;
    color: #000000;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    display: flex;
    justify-content: center;
    margin-bottom: -28px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    position: relative;
    font-weight: 400
}

#progressbar .active {
    color: #000000
}



#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: -4px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #673AB7
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #170f48 !important;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.form-card {
    padding: 40px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fieldlabels {
    font-weight: bold;
    margin-bottom: 10px;
}

.fs-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }

.steps {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.action-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.action-button-previous {
    background-color: #ccc;
    color: #333;
}

.action-button:hover {
    background-color: #3e8e41;
}

.action-button-previous:hover {
    background-color: #bbb;
}


.event-timings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event-timings input[type="checkbox"] {
    margin-right: 20px;
}

.event-timings label {
    margin-right: 20px;
}

select[name="gender"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: gray;    
     background-color: #ffffff;
     font-family: "DM Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
     margin-bottom: 15px;
}

select[name="gender"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select[name="gender"] option {
    padding: 10px;
}

select[name="gender"] option:hover {
    background-color: #f5f5f5;
}

select[name="gender"] option:selected {
    background-color: #337ab7;
    color:gray
}



/* Global Styles */

.form-card {
    background-color: #fff;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fieldlabels {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.fs-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.steps {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.action-button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.action-button:hover {
    background-color: #337ab7;
    color: #fff;
}

.action-button-previous {
    background-color: #ccc;
    color: #333;
}

.action-button-previous:hover {
    background-color: #aaa;
    color: #333;
}

/* Select Dropdown Styles */
select{
  margin-bottom: 15px;
}

select[name="eventLocation"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color:gray;
    background-color:white;
    margin-bottom: 22px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

select[name="eventLocation"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select[name="eventLocation"] option {
    padding: 10px;
}

select[name="eventLocation"] option:hover {
    background-color: #f5f5f5;
}

select[name="eventLocation"] option:selected {
    background-color: #337ab7;
    color: #fff;
}

/* Checkbox Styles */

input[type="checkbox"] {
    margin: 10px;
}

/* Media Queries for Different Devices */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .form-card {
        padding: 30px;
    }
    .fieldlabels {
        font-size: 16px;
    }
    .fs-title {
        font-size: 20px;
    }
    .steps {
        font-size: 16px;
    }
    .action-button {
        padding: 10px 15px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .form-card {
        padding: 20px;
    }
    .fieldlabels {
        font-size: 14px;
    }
    .fs-title {
        font-size: 18px;
    }
    .steps {
        font-size: 14px;
    }
    .action-button {
        padding: 10px 10px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .form-card {
        padding: 15px;
    }
    .fieldlabels {
        font-size: 14px;
    }
    .fs-title {
        font-size: 16px;
    }
    .steps {
        font-size: 12px;
    }
    .action-button {
        padding: 10px 5px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .form-card {
        padding: 10px;
    }
    .time-container{
      margin-right: 0px !important;
    }
    .time-container span{
      font-size: 14px !important;
    }
    .fieldlabels {
        font-size: 14px;
    }
    .fs-title {
        font-size: 14px;
    }
    .steps {
        font-size: 10px;
    }
    .action-button {
        padding: 10px 2px;
    }
}

.checkbox-container {
    display: inline-block;
    margin-right: 20px;
}

.checkbox-container input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-container label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.fit-image {
    width: 66px;
    height: 55px;
    object-fit: cover;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.rectangle-progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
  }
  

  .progress {
    width: 6%;    height: 6px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}

  
  .progress-bar {
    width: 0%;
    height: 100%;
    background-color: #000000;
    transition: width 0.5s ease-in-out;
  }
  .purple-text {
    color: purple; /* assuming you want the text to be purple */
  }
  
  .text-center {
    text-align: center;
  }
  
  .success-message {
    margin-top: 20px; /* adjust the value to move it downwards as needed */
  }
  
  .success-message h2 {
    margin-bottom: 0; /* remove the default margin-bottom of h2 */
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .checkbox-container label {
    font-size: 16px;
  }

  .checkbox-container {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
  }
  
  .time-container {
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
  }

  .icon-input {
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
    
  }
#progressbar li {
  list-style: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EFF0F6;
  text-align: center;
  margin: 0 10px;
  padding: 7px 10px;
}

#progressbar li strong {
  font-size: 18px;
  color: #001E40; /* default text color */
}

#progressbar li.active {
  background-color: #170F49; /* change the background color of the active step */
}

#progressbar li.active strong {
  color: #FFFFFF; /* change the text color to white when active */
}

/* For screens with a maximum width of 1200px (e.g., laptops) */
@media only screen and (max-width: 1200px) {
    #msform {
      margin-top: 15px;
    }
  }
  
  /* For screens with a maximum width of 992px (e.g., tablets) */
  @media only screen and (max-width: 992px) {
    #msform {
      margin-top: 10px;
    }
  }
  
  /* For screens with a maximum width of 768px (e.g., smaller tablets) */
  @media only screen and (max-width: 768px) {
    #msform {
      margin-top: 5px;
    }
  }
  
  /* For screens with a maximum width of 480px (e.g., mobile devices) */
  @media only screen and (max-width: 480px) {
    #msform {
      margin-top: 0px;
    }
  }

  .ptagss{
    margin-bottom: 16px;
  }
  

  .member {
    margin-bottom: 10px;
  }
  
  .member label {
    display: block;
    margin-bottom: 5px;
  }
  
  .member input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }


  .roww {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Left align the content */
    align-items: center; /* Center the content vertically */
    gap: 22px;
  }
  
  .col-4 {
    width: 50%; /* Take 50% of the parent width */
    padding: 10px; /* Add some padding for spacing */
  }
  
  .fieldlabelsss {
    display: block; /* Display the label as a block element */
    margin-bottom: 10px; /* Add some margin for spacing */
  }
  
  select, input[type="file"] {
    width: 100%; /* Take the full width of the parent */
    padding: 10px; /* Add some padding for spacing */
    border: 1px solid #ccc; /* Add a border for styling */
    border-radius: 5px; /* Add a border radius for styling */
    margin-bottom: 20px; /* Add space between input fields */
  }
  
  .icon-input {
    background-size: 20px; /* Set the background image size */
    background-position: right 10px center; /* Position the background image */
    padding-right: 30px; /* Add some padding to accommodate the background image */
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Left align the content */
    align-items: center; /* Center the content vertically */
  }
  


  select, input[type="file"] {
    width: 100%; /* Take the full width of the parent */
    padding: 10px; /* Add some padding for spacing */
    border: 1px solid #ccc; /* Add a border for styling */
    border-radius: 5px; /* Add a border radius for styling */
    margin-bottom: 20px; /* Add space between input fields */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: gray;

  }
  
  .icon-input {
    background-size: 20px; /* Set the background image size */
    background-position: right 10px center; /* Position the background image */
    padding-right: 30px; /* Add some padding to accommodate the background image */
    
  }

  .rowup {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center align the content */
    align-items: center; /* Center the content vertically */
  }

  
  .rowup {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center align the content */
    align-items: center; /* Center the content vertically */
  }
  
  .col-6 {
    width: 50%; /* Take 50% of the parent width */
    padding: 10px; /* Add some padding for spacing */
  }
  
/* Desktop */

  

  
  /* Tablet */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .roww {
      flex-wrap: wrap;
    }
    .col-4 {
      width: 50%;
    }
    .col-6 {
      width: 100%;
    }
  }
  
  /* Mobile */
  @media only screen and (max-width: 767px) {
    .roww {
      flex-wrap: wrap;
    }
    .col-4 {
      width: 100%;
    }
    .col-6 {
      width: 100%;
    }
  }

 .opt{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: norma

 }